
.red-button {
    background-color: red; /* Adjust the color as needed */
  }
  
  .green-button {
    background-color: green; /* Adjust the color as needed */
  }
  
  .blue-button {
    background-color: blue; /* Adjust the color as needed */
  }

  .yellow-button {
    background-color: yellow; /* Adjust the color as needed */
  }
  
  