.header-main{
    background-color: white;

    .nav-list{
      
    }
    /* .navs{
        background-color: aliceblue;
        border-radius: 8px;
     

    } */
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        li{
            padding: 8px;
        }
    }

    .logo{
        
        padding: 8px;
        color: yellow;
    }

    .yellow-bg {
        background-color: yellow;
        border-radius: 10px;
      }

      .search-button{
        background-color: yellow;
      }
      
}